In [8]:


import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3'
spark_version = 'spark-3.3.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop2.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [9]:


# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-08-14 17:40:59--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  5.28MB/s    in 0.2s

2022-08-14 17:40:59 (5.28 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [11]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Video_Games_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
video_games_df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("amazon_reviews_us_Video_Games_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)
video_games_df.show(10)

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         US|   12039526| RTIS3L2M1F5SM|B001CXYMFS|     737716809|Thrustmaster T-Fl...|     Video Games|          5|            0|          0|   N|                Y|an amazing joysti...|Used this for Eli...|2015-08-31 00:00:00|
|         US|    9636577| R1ZV7R40OLHKD|B00M920ND6|     569686175|Tonsee 6 buttons ...|     Video Games|          5|            0|          0|   N|                Y|Definitely a sile...|Loved it,  I didn...|2015-08-31 00:00:00|
|         US|    2331478|R3BH071QLH8QMC|B0029CSOD2|      98937668|Hidden Mysteries:...|     Video Games|          1|            0|          1|   N|                Y|            One Star|poor quality work...|2015-08-31 00:00:00|
|         US|   52495923|R127K9NTSXA2YH|B00GOOSV98|      23143350|GelTabz Performan...|     Video Games|          3|            0|          0|   N|                Y|good, but could b...|nice, but tend to...|2015-08-31 00:00:00|
|         US|   14533949|R32ZWUXDJPW27Q|B00Y074JOM|     821342511|Zero Suit Samus a...|     Video Games|          4|            0|          0|   N|                Y|   Great but flawed.|Great amiibo, gre...|2015-08-31 00:00:00|
|         US|    2377552|R3AQQ4YUKJWBA6|B002UBI6W6|     328764615|Psyclone Recharge...|     Video Games|          1|            0|          0|   N|                Y|            One Star|The remote consta...|2015-08-31 00:00:00|
|         US|   17521011|R2F0POU5K6F73F|B008XHCLFO|      24234603|Protection for yo...|     Video Games|          5|            0|          0|   N|                Y|              A Must|I have a 2012-201...|2015-08-31 00:00:00|
|         US|   19676307|R3VNR804HYSMR6|B00BRA9R6A|     682267517|   Nerf 3DS XL Armor|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|Perfect, kids lov...|2015-08-31 00:00:00|
|         US|     224068| R3GZTM72WA2QH|B009EPWJLA|     435241890|One Piece: Pirate...|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|            Excelent|2015-08-31 00:00:00|
|         US|   48467989| RNQOY62705W1K|B0000AV7GB|     256572651|Playstation 2 Dan...|     Video Games|          4|            0|          0|   N|                Y|          Four Stars|Slippery but expe...|2015-08-31 00:00:00|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 10 rows

In [12]:


video_games_df.count()

1785997

In [13]:



dropna_df=video_games_df.dropna()
dropna_df.count()

1785886

In [14]:


from pyspark.sql.functions import col

In [15]:
clean_df = dropna_df.drop_duplicates()
clean_df.show(10)

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         US|   20009611|R100E0YCS06YNR|B00EFFW0HC|     277685961|       Battlefield 4|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|     great thank you|2015-07-04 00:00:00|
|         US|   21036809|R100HR44BSB9I4|B007FTE2VW|     265303108|SimCity - Limited...|     Video Games|          1|            1|          1|   N|                Y|     Terrible Launch|I would love to r...|2013-03-07 00:00:00|
|         US|    4444018|R100UABZOUF1JP|B005HN5LKY|     148114874|Gen AC Adapter Po...|     Video Games|          1|            0|          0|   N|                Y|Broken when deliv...|It was broken whe...|2015-08-17 00:00:00|
|         US|   51581032|R101MOW8A5WC4J|B009LEIUY4|     563376217|Etrian Odyssey IV...|     Video Games|          5|            0|          0|   N|                Y|Great use of the ...|The first in the ...|2014-08-16 00:00:00|
|         US|   41543132|R101X7KSBGIWF1|B00004UC1W|     940154393|eGames Bingo CD P...|     Video Games|          1|            0|          0|   N|                Y|            One Star|would not open re...|2014-12-28 00:00:00|
|         US|    2074450|R101ZTSTDC8KQ4|B006WN5UM2|     304022369|Xia-Xia - Nintend...|     Video Games|          5|            0|          0|   N|                Y|didn't know what ...|Glad I bought thi...|2014-03-10 00:00:00|
|         US|   11407363|R103Q4U55JZAD1|B0025KZV7A|     130147097|Left 4 Dead - Nin...|     Video Games|          5|            0|          0|   N|                Y|          great game|I purchased this ...|2011-09-06 00:00:00|
|         US|   10547153|R103SW6BLR1HH6|B004ACGO0Y|     540734971|Wii Headbanger Ch...|     Video Games|          5|            0|          0|   N|                Y|A must for COD: B...|It's a must have ...|2011-09-25 00:00:00|
|         US|   15338940|R1048AZPZ1XQVY|B005XTRC7M|     325268333|TV Anime: Fairy T...|     Video Games|          4|            0|          0|   N|                Y|          Four Stars|oops! its in japa...|2015-01-22 00:00:00|
|         US|   49041788|R104C56FZRE21Q|B001US6O2Y|     855199089|KMD Gamecube Exte...|     Video Games|          5|            0|          0|   N|                Y|Extra length mean...|It does exactly w...|2015-05-20 00:00:00|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 10 rows

In [16]:


from pyspark.sql.functions import to_date
# Read in the Review dataset as a DataFrame
clean_df.show(5)

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         US|   20009611|R100E0YCS06YNR|B00EFFW0HC|     277685961|       Battlefield 4|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|     great thank you|2015-07-04 00:00:00|
|         US|   21036809|R100HR44BSB9I4|B007FTE2VW|     265303108|SimCity - Limited...|     Video Games|          1|            1|          1|   N|                Y|     Terrible Launch|I would love to r...|2013-03-07 00:00:00|
|         US|    4444018|R100UABZOUF1JP|B005HN5LKY|     148114874|Gen AC Adapter Po...|     Video Games|          1|            0|          0|   N|                Y|Broken when deliv...|It was broken whe...|2015-08-17 00:00:00|
|         US|   51581032|R101MOW8A5WC4J|B009LEIUY4|     563376217|Etrian Odyssey IV...|     Video Games|          5|            0|          0|   N|                Y|Great use of the ...|The first in the ...|2014-08-16 00:00:00|
|         US|   41543132|R101X7KSBGIWF1|B00004UC1W|     940154393|eGames Bingo CD P...|     Video Games|          1|            0|          0|   N|                Y|            One Star|would not open re...|2014-12-28 00:00:00|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 5 rows

In [17]:
# Create the customers_table DataFrame
customers_df = clean_df.groupby("customer_id").agg({"customer_id":"count"}).withColumnRenamed("count(customer_id)", "customer_count")
customers_df.show(5)

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   16505131|             1|
|   17235913|             1|
|   17782326|             2|
|   40985731|             7|
|   31554643|             1|
+-----------+--------------+
only showing top 5 rows

In [18]:


# Create the products_table DataFrame and drop duplicates. 
products_df = clean_df.select(["product_id", "product_title"]).drop_duplicates()
products_df.show(10)

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B00CJ7IUI6|The Elder Scrolls...|
|B00DHF39KS|Wolfenstein: The ...|
|B00MUTAVH6|Under Night In-Bi...|
|B001AZSEUW|              Peggle|
|B00KVOVBGM|PlayStation 4 Con...|
|B00O9VGH4Y|USPRO&reg; Headph...|
|B004OQNZY4|Phineas and Ferb:...|
|B00ZLN980O|Donop seablue 2.4...|
|B002L8W5V6|Dotop Nintendo Ga...|
|B007AJZ5PY|Nyko Game Case fo...|
+----------+--------------------+
only showing top 10 rows

In [19]:


# Create the review_id_table DataFrame. 
review_id_df = clean_df.select(["review_id", "customer_id", "product_id", "product_parent", to_date("review_date", 'yyyy-MM-dd').alias("review_date")])
review_id_df.show(10)

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R100E0YCS06YNR|   20009611|B00EFFW0HC|     277685961| 2015-07-04|
|R100HR44BSB9I4|   21036809|B007FTE2VW|     265303108| 2013-03-07|
|R100UABZOUF1JP|    4444018|B005HN5LKY|     148114874| 2015-08-17|
|R101MOW8A5WC4J|   51581032|B009LEIUY4|     563376217| 2014-08-16|
|R101X7KSBGIWF1|   41543132|B00004UC1W|     940154393| 2014-12-28|
|R101ZTSTDC8KQ4|    2074450|B006WN5UM2|     304022369| 2014-03-10|
|R103Q4U55JZAD1|   11407363|B0025KZV7A|     130147097| 2011-09-06|
|R103SW6BLR1HH6|   10547153|B004ACGO0Y|     540734971| 2011-09-25|
|R1048AZPZ1XQVY|   15338940|B005XTRC7M|     325268333| 2015-01-22|
|R104C56FZRE21Q|   49041788|B001US6O2Y|     855199089| 2015-05-20|
+--------------+-----------+----------+--------------+-----------+
only showing top 10 rows

In [20]:


# Create the vine_table. DataFrame
vine_df = clean_df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine"])
vine_df.show(10)

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R100E0YCS06YNR|          5|            0|          0|   N|
|R100HR44BSB9I4|          1|            1|          1|   N|
|R100UABZOUF1JP|          1|            0|          0|   N|
|R101MOW8A5WC4J|          5|            0|          0|   N|
|R101X7KSBGIWF1|          1|            0|          0|   N|
|R101ZTSTDC8KQ4|          5|            0|          0|   N|
|R103Q4U55JZAD1|          5|            0|          0|   N|
|R103SW6BLR1HH6|          5|            0|          0|   N|
|R1048AZPZ1XQVY|          4|            0|          0|   N|
|R104C56FZRE21Q|          5|            0|          0|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 10 rows

### Connect to the AWS RDS instance and write each DataFrame to its table.

In [23]:
from getpass import getpass
password = getpass('mmtikhan')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://dataviz.cirez3rkweci.us-west-1.rds.amazonaws.com:5432/challenge"
config = {"user":"postgres", 
          "password": password, 
          "driver":"org.postgresql.Driver"}

mmtikhan··········

In [ ]:
# Write review_id_df to table in RDS
review_id_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [ ]:
# Write products_df to table in RDS
# about 3 min
products_df.write.jdbc(url=jdbc_url, table='products_table', mode=mode, properties=config)

In [ ]:
# Write customers_df to table in RDS
# 5 min 14 s
customers_df.write.jdbc(url=jdbc_url, table='customers_table', mode=mode, properties=config)

In [ ]:
# Write vine_df to table in RDS
# 11 minutes
vine_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)